
.carousel-inner > .item > img{
    height: 300px;
}

.article {
    width: 24%;
    height: 300px;
    margin-left: 0px;
    margin-right: 2px;
    border: solid #DDD;
    border-width: 1px;
    margin-top: 5px;
}

.row{
    margin-left: auto;
}

.row.content.article.player{
    width: 231px;
    height: 232px;
}

.article > .caption .shu{
    position: relative;
    display: inline-block;
    text-align: left;
    font-family: "微软雅黑";
    font-size: 20px;
    color: #999;
}

.article .caption .shu .xi{
    font-size: 18px;
    font-family: "微软雅黑";
    color: #2E2E2E;
}

.content .article .caption{
    height: 87px;
    margin: 10px;
    line-height: 1.2;
}

.caption .score img{
    top: -100px;
}
.player{
    position: relative;
    overflow: hidden;
}

.player .info{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 46%;
    background-color: white;
    bottom: 0px;
    display: none;
    filter: alpha(opacity=80);            /* 用于IE浏览器－透明度为20%*/
    -moz-opacity:0.8;                    /*  用于Moz + Firefox－透明度为20%*/
    opacity: 0.8;                        /* 用于支持CSS3的浏览器－透明度为20%*/
}

.player .info p.name{
    position: relative;
    top: 10px;
    font-size: 24px;
    color: #9C0;
    font-weight: bold;
}

.player .info .motto{
    position: relative;
    top: 10px;
    font-size: 18px;
    color: #000;
}
.containera{
    background-color: #000; 
}
.containera > .top10{
    position: relative; 
    bottom: 0px; 
    z-index: 1; 
    background-color: #000; 
    height: 350px; 
    width: 91%; 
    left: 9%;
}

.top10 h4{
    font-weight: bold;
    font-size: 17.5px;
    color: #F0F0F0;
}
.top10 .img{
    height: 100px;
    width: 100px;
    left: 4px;
    top: 20px;
    padding: 3px;
    border: solid rgb(238, 220, 220);
}
.footer{
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    background-color: #000;
    color: #FFF;
}

.players{
    height: 50px;
    width: 100%;
}

.players #bline{
    background-color: black;
    height: 1px;
    width: 933px;
    left: 28px;
    top: -18px;
}

.players #line{
    height: 3px;
    width: 163px;
    background-color: #2B2B2B;
}

.players span.words{
    position: relative;
    font-size: 23px;
    color: red;
    top: 9px;
}

body{
    background-image: url("../images/background.jpg");
    overflow:auto;
}

#header{
    height: 104px;
}

#header #branding #site-title img{
    width: 239px; 
    height: 75px; 
    top: 7px; 
    position: relative; 
    left:15%;
}

.container.show{
    position: relative;
    width: 1170px;
    background-color: black;
}

.container.show .row .content .words{
    position: relative;
    height: 100px;
    color: red;
    font-size: 24px;
    background-color: black;
}

.container.show .row .content .words span{
    position: relative;
    top: 50%;
}
.container.show .row .content{
    position: relative;
    left: 15%;
    width: 75%;
    background-image: url("../images/background.jpg");
}

.container.show #player .player-photo{
    float:left;
    margin: 10%;
    margin-bottom: 30px;
}

.container.show #player .player-photo .photo{
    width:300px; 
    height:300px;
}


.content .player-data.lead{
    display: inline;
}

.content .player-data.lead .name{
    position: relative;
    top: 50px;
    left: 1%;
    font-size: 36px;
    height: 90px;
}
.content .player-data.lead ul{
    margin-right: 5%;
}

.content .vote{
    margin: 10px;
}

.content .vote .score{
    text-align: center; 
    font-size: 36px; 
}

.content .vote .score .up .vote-button{
    /*when the user have vote*/
    color: white;
    width: 220px;
    height: 50px;
    font-size: 36px;
    background-color: rgb(165, 18, 18);
    border-radius: 10px;
    margin: 10px;
}

.content .vote .score .up.disabled .vote-button{
    /*when the user have not vote*/
    background-color: gray;
}
