<%= yield :before_footer %>
<!-- Footer
================================================== -->
<footer class="footer">
系统以<a href="https://github.com/qiushibaike/moumentei.git">moumentei</a>原型搭建，如有任何疑问，请发邮件到lhldyf45@gmail.com
  <%= yield :footer %>
</footer>
<%= yield :after_footer %>

