<%= yield :before_header %>

<div id="header">
  <div class="wrap">
    <div id="branding">
      <h1 id="site-title">
        <% if @group %>
          <img src="../img/images/logo.png" alt="">
        <% end %>
      </h1>
      <h2 id="site-description"><span><%=@group.try(:description)%></span></h2>
    </div><!-- #branding -->
  </div><!-- .wrap -->
</div><!-- #header -->

<%= yield :after_header %>
